.background-img {
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
}

body{
    overflow-x: hidden;
}

.white-container {
    position: absolute;
    top: 35vw;
    width: 100vw;
    height: 700px;
    background-color: white;
    z-index: -1;
}

.landing-title {
    font-weight: 700;
    font-size: 56px;
    width: 600px;
    margin-top: 20vw;
    color: white;
}
.landing-text{
    color: white;
}



.info-container{
    margin-top: 10vw;
    margin-bottom: 150px;
}

iframe{
    margin-top: 30px;
}

@media (max-width: 768px) {
    .movie-card img {
        height: 150px;
        width: 100px;
    }

    .landing-title {
        color: black;
    }

    .landing-text {
        color: black;
    }

    .background-img {
        display: none;
    }
}